<article>
  <h4><%= post.title %></h4>
  <div><%= post.content %></div>
  <div class="links">
    <%= link_to 'Show', post %> |
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</article>